In [71]:
import pandas as pd
import networkx as nx
import numpy as np 
import ahpy

In [72]:
%%html
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSA9MJf5NdSLgkNdSgt_V-GXhklFcHi7HGvkOZbZZV-0K8a9WcQu4ONm858WSBsVW-qH76DE7IKnX2S/pub?output=xlsx" width="600" height="300"></iframe>

In [73]:
linkGoogle="https://docs.google.com/spreadsheets/d/e/2PACX-1vSA9MJf5NdSLgkNdSgt_V-GXhklFcHi7HGvkOZbZZV-0K8a9WcQu4ONm858WSBsVW-qH76DE7IKnX2S/pub?output=xlsx"

In [74]:
pairwise_learning=pd.read_excel(linkGoogle,sheet_name='learning', index_col=0)
pairwise_learning

          school_a  school_b  school_c
school_a         1       NaN       NaN
school_b         3       1.0       3.0
school_c         2       NaN       1.0

In [75]:
pairwise_friends=pd.read_excel(linkGoogle,sheet_name='friends', index_col=0)
pairwise_school_life=pd.read_excel(linkGoogle,sheet_name='school_life', index_col=0)
pairwise_vocational_trng=pd.read_excel(linkGoogle,sheet_name='vocational_trng', index_col=0)
pairwise_college_prep=pd.read_excel(linkGoogle,sheet_name='college_prep', index_col=0)
pairwise_music_class=pd.read_excel(linkGoogle,sheet_name='music_class', index_col=0)
pairwise_criteria=pd.read_excel(linkGoogle,sheet_name='criteria', index_col=0)

In [76]:
pairwise_criteria

,learning,friends,school_life,vocational_trng,college_prep,music_class
learning,1.0,4.0,3,1.0,3.0,4.0
friends,NaN,1.0,7,3.0,NaN,1.0
school_life,NaN,NaN,1,NaN,NaN,NaN
vocational_trng,1.0,NaN,5,1.0,1.0,NaN
college_prep,NaN,5.0,5,1.0,1.0,3.0
music_class,NaN,1.0,6,3.0,NaN,1.0

In [77]:
G_learning = nx.from_pandas_adjacency(pairwise_learning,create_using=nx.MultiDiGraph())
learning_comparisons ={(e[0],e[1]):e[2]['weight'] for e in G_learning.edges(data=True) if np.isfinite(e[2]['weight'])}

G_friends = nx.from_pandas_adjacency(pairwise_friends,create_using=nx.MultiDiGraph())
friends_comparisons={(e[0],e[1]):e[2]['weight'] for e in G_friends.edges(data=True) if np.isfinite(e[2]['weight'])}

G_school_life = nx.from_pandas_adjacency(pairwise_school_life,create_using=nx.MultiDiGraph())
school_life_comparisons={(e[0],e[1]):e[2]['weight'] for e in G_school_life.edges(data=True) if np.isfinite(e[2]['weight'])}

G_vocational_trng = nx.from_pandas_adjacency(pairwise_vocational_trng,create_using=nx.MultiDiGraph())
vocational_trng_comparisons={(e[0],e[1]):e[2]['weight'] for e in G_vocational_trng.edges(data=True) if np.isfinite(e[2]['weight'])}

G_college_prep = nx.from_pandas_adjacency(pairwise_college_prep,create_using=nx.MultiDiGraph())
college_prep_comparisons={(e[0],e[1]):e[2]['weight'] for e in G_college_prep.edges(data=True) if np.isfinite(e[2]['weight'])}

G_music_class = nx.from_pandas_adjacency(pairwise_music_class,create_using=nx.MultiDiGraph())
music_class_comparisons={(e[0],e[1]):e[2]['weight'] for e in G_music_class.edges(data=True) if np.isfinite(e[2]['weight'])}

In [78]:
[learning_comparisons, friends_comparisons,school_life_comparisons,vocational_trng_comparisons,college_prep_comparisons,music_class_comparisons]

[{('school_a', 'school_a'): 1.0,
  ('school_b', 'school_b'): 1.0,
  ('school_b', 'school_a'): 3.0,
  ('school_b', 'school_c'): 3.0,
  ('school_c', 'school_c'): 1.0,
  ('school_c', 'school_a'): 2.0},
 {('school_a', 'school_a'): 1,
  ('school_a', 'school_b'): 1,
  ('school_a', 'school_c'): 1,
  ('school_b', 'school_b'): 1,
  ('school_b', 'school_a'): 1,
  ('school_b', 'school_c'): 1,
  ('school_c', 'school_c'): 1,
  ('school_c', 'school_a'): 1,
  ('school_c', 'school_b'): 1},
 {('school_a', 'school_a'): 1.0,
  ('school_a', 'school_b'): 5.0,
  ('school_a', 'school_c'): 1.0,
  ('school_b', 'school_b'): 1.0,
  ('school_c', 'school_c'): 1.0,
  ('school_c', 'school_a'): 1.0,
  ('school_c', 'school_b'): 5.0},
 {('school_a', 'school_a'): 1.0,
  ('school_a', 'school_b'): 9.0,
  ('school_a', 'school_c'): 7.0,
  ('school_b', 'school_b'): 1.0,
  ('school_c', 'school_c'): 1.0,
  ('school_c', 'school_b'): 5.0},
 {('school_a', 'school_a'): 1.0,
  ('school_a', 'school_c'): 1.0,
  ('school_b', 'school_b'): 1.0,
  ('school_b', 'school_a'): 2.0,
  ('school_b', 'school_c'): 2.0,
  ('school_c', 'school_c'): 1.0,
  ('school_c', 'school_a'): 1.0},
 {('school_a', 'school_a'): 1.0,
  ('school_a', 'school_b'): 6.0,
  ('school_a', 'school_c'): 4.0,
  ('school_b', 'school_b'): 1.0,
  ('school_c', 'school_c'): 1.0,
  ('school_c', 'school_b'): 3.0}]

In [79]:
G_CRIT = nx.from_pandas_adjacency(pairwise_criteria,create_using=nx.MultiDiGraph())
criteria_comparisons ={(e[0],e[1]):e[2]['weight'] for e in G_CRIT.edges(data=True) if np.isfinite(e[2]['weight'])}
criteria_comparisons

{('learning', 'learning'): 1.0,
 ('learning', 'friends'): 4.0,
 ('learning', 'school_life'): 3.0,
 ('learning', 'vocational_trng'): 1.0,
 ('learning', 'college_prep'): 3.0,
 ('learning', 'music_class'): 4.0,
 ('friends', 'friends'): 1.0,
 ('friends', 'school_life'): 7.0,
 ('friends', 'vocational_trng'): 3.0,
 ('friends', 'music_class'): 1.0,
 ('school_life', 'school_life'): 1.0,
 ('vocational_trng', 'vocational_trng'): 1.0,
 ('vocational_trng', 'learning'): 1.0,
 ('vocational_trng', 'school_life'): 5.0,
 ('vocational_trng', 'college_prep'): 1.0,
 ('college_prep', 'college_prep'): 1.0,
 ('college_prep', 'friends'): 5.0,
 ('college_prep', 'school_life'): 5.0,
 ('college_prep', 'vocational_trng'): 1.0,
 ('college_prep', 'music_class'): 3.0,
 ('music_class', 'music_class'): 1.0,
 ('music_class', 'friends'): 1.0,
 ('music_class', 'school_life'): 6.0,
 ('music_class', 'vocational_trng'): 3.0}

In [80]:
learning = ahpy.Compare('learning', learning_comparisons, random_index='saaty')
friends = ahpy.Compare('friends', friends_comparisons, random_index='saaty')
school_life = ahpy.Compare('school_life', school_life_comparisons, random_index='saaty')
vocational_trng = ahpy.Compare('vocational_trng', vocational_trng_comparisons, random_index='saaty')
college_prep = ahpy.Compare('college_prep', college_prep_comparisons, random_index='saaty')
music_class = ahpy.Compare('music_class', music_class_comparisons, random_index='saaty')
criteria = ahpy.Compare('criteria', criteria_comparisons, random_index='saaty')

In [81]:
criteria.add_children([learning, friends, school_life, vocational_trng, college_prep, music_class])

In [82]:
print(criteria.global_weights)

{'learning': 0.3208, 'college_prep': 0.2374, 'friends': 0.1395, 'music_class': 0.1391, 'vocational_trng': 0.1285, 'school_life': 0.0348}

These numbers are the calculated priorities (weights) across all the criteria for the schools. They reflect how important each factor is in the overall decision-making process. The top two priorties are learning (32.08%) and college prep (23.74%), which have the highest weight, which means these contribute more to the overall outcome. School life had the least influence of 3.48%.

In [83]:
print(criteria.target_weights)

{'school_b': 0.3785, 'school_a': 0.3674, 'school_c': 0.2542}

These numbers represent how prferable each school is based on the comparisons. School B was rated the highest of importance (37.85%), followed by School A (36.74%), while School C received the lowest weight (25.42%), meaning it is the least important or preferred. This tells us what school is the best option.

In [84]:
[(val.name,val.consistency_ratio) for val in [learning, friends, school_life, vocational_trng, college_prep, music_class]]

[('learning', 0.0516),
 ('friends', 0.0),
 ('school_life', 0.0),
 ('vocational_trng', 0.2005),
 ('college_prep', 0.0),
 ('music_class', 0.0516)]

In [86]:
pairwise_vocational_trng

          school_a  school_b  school_c
school_a       1.0         9       7.0
school_b       NaN         1       NaN
school_c       NaN         5       1.0

The vocational_trng table has a consistency ratio of 0.2005, which is higher than the recommended limit of 0.1. This means the comparisons in the table are inconsistent and should be adjusted to better match each other.
The rest of the consistency ratios are within the range of 0.1 or below, meaning the values are consistent and dont need adjustment.