In [4]:
import pandas as pd
import networkx as nx
import numpy as np 
import ahpy

In [18]:
%%html
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSA9MJf5NdSLgkNdSgt_V-GXhklFcHi7HGvkOZbZZV-0K8a9WcQu4ONm858WSBsVW-qH76DE7IKnX2S/pub?output=xlsx" width="600" height="300"></iframe>

In [22]:
linkGoogle="https://docs.google.com/spreadsheets/d/e/2PACX-1vSA9MJf5NdSLgkNdSgt_V-GXhklFcHi7HGvkOZbZZV-0K8a9WcQu4ONm858WSBsVW-qH76DE7IKnX2S/pub?output=xlsx"

In [26]:
pairwise_learning=pd.read_excel(linkGoogle,sheet_name='learning', index_col=0)
pairwise_learning

          school_a  school_b  school_c
school_a         1       NaN       NaN
school_b         3       1.0       3.0
school_c         2       NaN       1.0

In [28]:
pairwise_friends=pd.read_excel(linkGoogle,sheet_name='friends', index_col=0)
pairwise_school_life=pd.read_excel(linkGoogle,sheet_name='school_life', index_col=0)
pairwise_vocational_trng=pd.read_excel(linkGoogle,sheet_name='vocational_trng', index_col=0)
pairwise_college_prep=pd.read_excel(linkGoogle,sheet_name='college_prep', index_col=0)
pairwise_music_class=pd.read_excel(linkGoogle,sheet_name='music_class', index_col=0)
pairwise_criteria=pd.read_excel(linkGoogle,sheet_name='criteria', index_col=0)

In [30]:
pairwise_criteria

,learning,friends,school_life,vocational_trng,college_prep,music_class
learning,1.0,4.0,3,1.0,3.0,4.0
friends,NaN,1.0,7,3.0,NaN,1.0
school_life,NaN,NaN,1,NaN,NaN,NaN
vocational_trng,1.0,NaN,5,1.0,1.0,NaN
college_prep,NaN,5.0,5,1.0,1.0,3.0
music_class,NaN,1.0,6,3.0,NaN,1.0